<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alipay.manage.mapper.CorrelationDataMapper" >
  <resultMap id="BaseResultMap" type="alipay.manage.bean.CorrelationData" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="orderId" property="orderId" jdbcType="CHAR" />
    <result column="userId" property="userId" jdbcType="CHAR" />
    <result column="appId" property="appId" jdbcType="VARCHAR" />
    <result column="mediumId" property="mediumId" jdbcType="INTEGER" />
    <result column="qrId" property="qrId" jdbcType="CHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="orderStatus" property="orderStatus" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="submitTime" property="submitTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, orderId, userId, mediumId, qrId, amount, orderStatus, status, createTime, submitTime,appId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="alipay.manage.bean.CorrelationDataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from alipay_correlation_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from alipay_correlation_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from alipay_correlation_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="alipay.manage.bean.CorrelationDataExample" >
    delete from alipay_correlation_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="alipay.manage.bean.CorrelationData" useGeneratedKeys="true" keyProperty="id" >
    insert into alipay_correlation_data (orderId, userId, mediumId, 
      qrId, amount, orderStatus, 
      status, createTime, submitTime,appId
      )
    values (#{orderId,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{mediumId,jdbcType=INTEGER}, 
      #{qrId,jdbcType=CHAR}, #{amount,jdbcType=DECIMAL}, #{orderStatus,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{submitTime,jdbcType=TIMESTAMP},#{appId}
      )
  </insert>
  <insert id="insertSelective" parameterType="alipay.manage.bean.CorrelationData" useGeneratedKeys="true" keyProperty="id" >
    insert into alipay_correlation_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        orderId,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="appId != null" >
        appId,
      </if>
      <if test="mediumId != null" >
        mediumId,
      </if>
      <if test="qrId != null" >
        qrId,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="orderStatus != null" >
        orderStatus,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="submitTime != null" >
        submitTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId},
      </if>
      <if test="mediumId != null" >
        #{mediumId,jdbcType=INTEGER},
      </if>
      <if test="qrId != null" >
        #{qrId,jdbcType=CHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="alipay.manage.bean.CorrelationDataExample" resultType="java.lang.Integer" >
    select count(*) from alipay_correlation_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update alipay_correlation_data
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        orderId = #{record.orderId,jdbcType=CHAR},
      </if>
      <if test="record.userId != null" >
        userId = #{record.userId,jdbcType=CHAR},
      </if>
      <if test="record.appId != null" >
        appId = #{record.appId},
      </if>
      <if test="record.mediumId != null" >
        mediumId = #{record.mediumId,jdbcType=INTEGER},
      </if>
      <if test="record.qrId != null" >
        qrId = #{record.qrId,jdbcType=CHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.orderStatus != null" >
        orderStatus = #{record.orderStatus,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.submitTime != null" >
        submitTime = #{record.submitTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update alipay_correlation_data
    set id = #{record.id,jdbcType=INTEGER},
      orderId = #{record.orderId,jdbcType=CHAR},
      userId = #{record.userId,jdbcType=CHAR},
      appId = #{appId},
      mediumId = #{record.mediumId,jdbcType=INTEGER},
      qrId = #{record.qrId,jdbcType=CHAR},
      amount = #{record.amount,jdbcType=DECIMAL},
      orderStatus = #{record.orderStatus,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      submitTime = #{record.submitTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="alipay.manage.bean.CorrelationData" >
    update alipay_correlation_data
    <set >
      <if test="orderId != null" >
        orderId = #{orderId,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        userId = #{userId,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        appId = #{appId},
      </if>
      <if test="mediumId != null" >
        mediumId = #{mediumId,jdbcType=INTEGER},
      </if>
      <if test="qrId != null" >
        qrId = #{qrId,jdbcType=CHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null" >
        orderStatus = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitTime != null" >
        submitTime = #{submitTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="alipay.manage.bean.CorrelationData" >
    update alipay_correlation_data
    set orderId = #{orderId,jdbcType=CHAR},
      userId = #{userId,jdbcType=CHAR},
      appId = #{appId},
      mediumId = #{mediumId,jdbcType=INTEGER},
      qrId = #{qrId,jdbcType=CHAR},
      amount = #{amount,jdbcType=DECIMAL},
      orderStatus = #{orderStatus,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      submitTime = #{submitTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>